@import url('https://fonts.googleapis.com/css2?family=Play&display=swap');

* {
    font-family: Play;
}

body {
    background-color: rgba(0, 0, 0, 0.356);
    max-width: 195vh;
    max-height: 45vh;

}

main {
    margin-left: 10%;
    margin-top: -1%;
}

.navbar{
    background-color: black;
    position: relative;
}

.formulario{
    height: 520px;
    width: 85%;
    padding-bottom: 25px;
}

.formulario h1{
    margin-top: 5%;
    margin-left: 15%;
}

.formulario input{
    background-color: Transparent;
    background-repeat:no-repeat;
    border-bottom: 2px solid black;
    padding: 5px;
    color: white;
    outline: none;
}

.form{
    margin: 5%;
}

.form button{
    height: 8%;
    width: 15%;
    padding: 10px;
    border: 2px solid black;
    color: white;
    background-color: Transparent;
    background-repeat:no-repeat;
    margin-left: 3%;
}

.campo {
    font-size: 20px;
    justify-content: flex-start;
    margin: 3%;
}

.campo input{
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    border-bottom: 2px solid black;
    height: 5%;
    width: 70%;
    padding: 5px;
}

.lembre{
    display: flex;
    margin: 10px;
    margin-left: 15%;
}

.lembre p{
    margin-left: 10px;
}

select{
    color: gray;
    width: 15%;
    height: 4vh;
    border-radius: 5%;
    background-color: rgba(0, 0, 0, 0.186);
    margin-top: 2%;
}

.informacoes{
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    margin-left: 10%;
    color: white;
    font-size: 18px;
    width: 40%;
}

.informacoes h4{
    margin-top: 5px;
}

.informacoes a{
    color: white;
}

.imageCAD img{
    margin-left: 73%;
    margin-top: -60%;
    height: 60vh;
}

